/* ===================== Montserrat ===================== */
@font-face {
    font-family: "Mont-B";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Mont-M";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Mont-L";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Mont-T";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Montserrat-Thin.ttf);
}

/* ===================== Quicksand ===================== */
@font-face {
    font-family: "Quick-B";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: "Quick-M";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: "Quick-L";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: "Quick-R";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Regular.ttf);
}

/* ===================== Raleway ===================== */
@font-face {
    font-family: "Rale-B";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Raleway-Bold.ttf)
}

@font-face {
    font-family: "Rale-M";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Raleway-Medium.ttf)
}

@font-face {
    font-family: "Rale-L";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Raleway-Light.ttf)
}

@font-face {
    font-family: "Rale-T";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Raleway-Thin.ttf)
}

/* ===================== Roboto ===================== */
@font-face {
    font-family: "Robo-B";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Robo-M";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Robo-L";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Robo-T";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Roboto-Thin.ttf);
}

.f-montserrat-b {
    font-family: "Mont-B"
}

.f-montserrat-m {
    font-family: "Mont-M"
}

.f-montserrat-l {
    font-family: "Mont-L"
}

.f-montserrat-t {
    font-family: "Mont-T"
}

.f-quicksand-b {
    font-family: "Quick-B"
}

.f-quicksand-m {
    font-family: "Quick-M"
}

.f-quicksand-l {
    font-family: "Quick-L"
}

.f-quicksand-r {
    font-family: "Quick-R"
}

.f-raleway-b {
    font-family: "Rale-B"
}

.f-raleway-m {
    font-family: "Rale-M"
}

.f-raleway-l {
    font-family: "Rale-L"
}

.f-raleway-t {
    font-family: "Rale-T"
}

.f-roboto-b {
    font-family: "Robo-B"
}

.f-roboto-m {
    font-family: "Robo-M"
}

.f-roboto-l {
    font-family: "Robo-L"
}

.f-roboto-t {
    font-family: "Robo-T"
}
